@mixin generic-input {
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}

.input-text {
    @include generic-input;
    border: none;
    outline: none;
}

.input-radio {
    @include generic-input;
    display: inline-block;    

    > label {
        cursor: pointer;
    }
}